@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');

* {
    position: absolute;
}

body {
    background-color: orange;

}

p {
    font-family: "New Amsterdam", sans-serif;
}

h1 {
    font-family: "Sankofa Display", sans-serif;
    color: blueviolet;
}

img {
    width: 300px;
    margin-left: 100px;
}

p:last-of-type {
    color: red;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}